<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>登录</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style>
        body {
            text-align: center;
        }
    </style>
    <script>
        function gray() {
            document.getElementById("login").setAttribute("disabled", true);
            document.getElementById("form").submit();
        }
    </script>
</head>
<body>

<form id="form" method="post" th:action="@{/login}">

    <input id="username" name="username" type="text" placeholder="用户名"><br><br>
    <input id="password" name="password" type="password" placeholder="密码"><br><br>
    <button id="login" type="submit" onclick="gray()">登录</button>
    <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
</form>
</body>

</html>
