<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>搜索</title>
    <style>
        body {
            text-align: center;
        }
    </style>
    <script>
        function gray(){
            document.getElementById("search").setAttribute("disabled", true);
            document.getElementById("form").submit();
        }
    </script>
</head>
<body>


<form id="form" method="get" th:action="@{/search}">
    <div class="main">
        <input id="q" name="q" type="text" placeholder="请输入" th:value="${q}">
        <button id="search" type="button" onclick="gray()">搜索</button>
        <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
        <p style="color: red" th:text="${sizeZero}" th:if="${not #strings.isEmpty(sizeZero)}"></p>
        <p style="color: blue" th:text="${time}" th:if="${not #strings.isEmpty(time)}"></p>
    </div>
</form>

<div class="main" style="" th:each="url,iterStat:${urls}">          
    <div><span th:text="${iterStat.count}"></span><a href="" th:href="${url}" th:text="${url}" target="_blank"></a>
    </div>
</div>

  


</body>
</html>